.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
docker/mysql
docker/nginx
tests
.idea
.vscode
*.md
!README.md
