vendor/
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea
.vscode
.claude

helm/threadql/haproxy-local.values.yaml
helm/threadql/local.values.yaml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/bootstrap/cache/*.php
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app
/storage/logs
/storage/framework
/storage/phpstan
.phpunit.result.cache
